@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    background: #3a364f;
    transform-style: preserve-3d;
    perspective: 1500px;
    overflow: hidden;
}

.actionbtn {
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1111;
    margin: 2em;
    font-size: 1.7em;
    cursor: pointer;
    transition: 0.4s ease-in;
}

.actionbtn.active {
    transform: rotate(720deg);
}

.navbar {
    position: absolute;
    right: 0;
    width: 250px; /* Default width for desktop */
    top: 50%;
    transform: translateY(-50%);
    z-index: 999; 
}

.navbar li {
    list-style: none;
    transform: translateX(250px);
}

.navbar.active li {
    transition: 0.3s calc(var(--delay) * 0.4s) ease-out;
    transform: translateX(0px);
}

.navbar li a {
    display: block;
    color: #fff;
    font-size: 2em;
    font-weight: 300;
    text-transform: uppercase;
    text-align: none;
    letter-spacing: 3px;
    padding: 10px;
    margin: 60px 0;
    transition: 0.2s;
}

.navbar li:hover a {
    color: #effd5f;
    letter-spacing: 0px;
}

.banner {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3 s 0.4s ease-out;
}

.banner::before,
.banner::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    left: 0;
    opacity: 0.2;
    z-index: -1;
    transform-origin: right;
    transform: rotate(-0, 5deg);
    transition: 0.5s 0.2s ease;
}

.banner::after {
    transform: rotate(-1deg);
}

.banner.active::before {
    top: -50px;
    left: -120px;
    transition: 0.5s 0.6s ease;
}

.banner.active::after {
    top: -100px;
    left: -240px;
    transition: 0.5s 0.6s ease;
}

.banner.active {
    transform-origin: left;
    transform: rotateY(30deg);
    transition: 0.3s 0.4s ease-out;
}

.bgimg {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(Foto_von_David_Becker_auf_Unsplash.jpg);
}

.bgimg::before {
    position: absolute;
    content: '';
    height: inherit;
    width: inherit;
    backdrop-filter: blur(10px) brightness(40%) saturate(200%);
}

.textdata {
    position: relative;
    max-width: 70%;
    color: #fff;
}

h2 {
    font-size: 3vw;
    font-weight: 300;
    letter-spacing: 7px;
}

h1 {
    font-size: 10vw;
    font-weight: 900;
    letter-spacing: 4px;
    text-align: center;
}

.label {
    text-align: center;
    font-size: 2.5vw;
    letter-spacing: 2px;
    opacity: 1;
    transform: translateY(-3vw);
}

.details {
    font-size: 1.2vw;
    font-weight: 300;
    opacity: 0.7;
    transform: translateY(-2vw);
}

.btns {
    margin-top: 2vw;
    text-align: center;
}

.btns a {
    background: transparent;
    color: #fff;
    font-size: 1.2vw;
    text-decoration: none;
    padding: 0.8vw 1.5vw;
    border: 2px solid #fff;
    margin: 0 1vm;
}

.btns a:hover,
#selected {
    background-color: #fff;
    color: #222;
}

/* Media Queries for Responsive Design */

/* Tablet */
@media (max-width: 768px) {
    .navbar {
        width: 200px;
        transform: translateY(-50%);
    }
}

/* Smartphone */
@media (max-width: 480px) {
    .label {
        font-size: 4.5vw;
        margin-bottom: 30px;
    }

    .container {
        padding: 30px;
    }

    .navbar {
        width: 80%;
        margin: 20px auto;
        padding: 15px;
    }

    .navbar li {
        display: block;
        margin: 10px 0;
        text-align: center;
    }

    .navbar li a {
        font-size: 2em;
        line-height: 1.5;
    }

    h1 {
        font-size: 8vw;
        margin-top: 30px;
    }

    .textdata {
        align-items: center;
    }
}